@import 'constants';
@import 'background-color-options';

$module: 'Tag';

.#{$module} {
  color: $font-color;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: $border-radius;
  vertical-align: super;
}

@include background-color-options($module);
